<div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block">
    <button class="btn btn-block btn-outline-primary btn-sm" id="dropdownForm1" ngbDropdownToggle>
        Изменить
    </button>
    <div class="my-2" ngbDropdownMenu aria-labelledby="dropdownForm1">
        <div class="px-4 py-3" style="width: max-content;">
            <div class="form-group">
                <input id="dd-name" type="text" class="form-control" placeholder="Имя" [(ngModel)]="name" />
                <div class="error" [hidden]="name">
                    <span class="badge badge-pill badge-danger">Поле не может быть пустым</span>
                </div>
            </div>
            <div class="form-group">
                <input id="dd-surname" type="text" class="form-control" placeholder="Фамилия" [(ngModel)]="surname" />
                <div class="error" [hidden]="surname">
                    <span class="badge badge-pill badge-danger">Поле не может быть пустым</span>
                </div>
            </div>
            <div class="form-group">
                <select id="dd-type" class="custom-select" [(ngModel)]="type">
                    <option [ngValue]="myWorkerType.programmer">Программист</option>
                    <option [ngValue]="myWorkerType.designer">Дизайнер</option>
                    <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
                    <option [ngValue]="myWorkerType.manager">Менеджер</option>
                </select>
            </div>
            <div class="form-group">
                <button [ngClass]="{'btn-outline-primary': name&&surname, 'btn-outline-danger': !(name&&surname)}"
                    class="btn btn-block btn-sm" (click)="onChangeWorker(myDrop)">Изменить</button>
            </div>
        </div>
    </div>
</div>